*
{
    margin: 0;
    padding: 0;
}

#body
{
    margin: 0;
    border: none;
    width: 100%;
}

#cabeceira
{
    margin: 0;
    height: 53px;
    background-color: #01223D;
    clear: both;
    font-family: 'Gemunu Libre', sans-serif;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#home
{
    margin-top: 53px;
    height: 500px;
    background-color: #013A65;
    width: 100%;
    display: flex;
}

#sobre
{
    height: 500px;
    background-color: #3191D8;
    width: 100%;
    display: flex;
}

#contato
{
    margin: 0;
    height: 300px;
    background-color: #01223D;
    width: 100%;
    display: flex;
}

#logo
{
    float: left;
    width: 15%;
    text-align: center;
    display: flex;
}

#logo img
{
    width: 28%;
    margin-left: 7px;
}

#meuNome
{
    width: 65%;
    text-align: center;
}

#meuNome h1
{
    display: inline-block;
    color: #AEDEFC;
    margin-top: 9px;
}

#menu
{
    float: right;
    padding: 10px;
    width: 20%;
    text-align: center;
}

#menu ul
{
    list-style: none;
    padding: 4px;
}

#menu li
{
    display: inline-block;
}

#menu a
{
    text-decoration: none;
    color: #AEDEFC;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
    padding: 5px;
}

#menu a:hover
{
    color: #3191D8;
}

.texto
{
    width: 60%;
    float: left;
    text-align: justify;
    color: #CCE9FC;
    margin: 25px;
    padding-top: 35px;
}

.texto h2
{
    text-align: center;
}

.foto
{
    width: 40%;
    float: right;
    display: flex;
    align-items: flex-end;
}

figure, figure img
{
    width: 97%;
    height: 97%;
}

.foto img
{
    border: solid black;
}

.email
{
    width: 60%;
    font-family: 'Ephesis', cursive;
    font-size: 14px;
}

.redesSociais
{
    width: 40%;
    text-align: center;
    color: #CCE9FC;
}

.email fieldset
{
    width: 100%;
    height: 90%;
    color: #CCE9FC;
    padding: 10px;
    text-align: center;
}

.caixaDeEmail
{
    width: 100%;
    height: 60%;
    margin: 5px 0;
}

.name
{
    width: 100%;
    margin: 5px 0;
}

.botaoEnviar
{
    padding: 5px;
}

.redesSociais img
{
    width: 30%;
    height: 30%;
    margin: 70px 23px;
    border: solid #CCE9FC;
}

.redesSociais h1
{
    margin-top: 30px;
}